<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>MVC Web application</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <style>
        h1 {text-align: center;}
        table, th, td {
                margin-left: auto;
                margin-right: auto;
                border: 1px solid black;
                border-collapse: collapse;
                text-align: center;
        }
        form {text-align: center;}
   </style>
</head>

<body style="background-color:powderblue;">

  <h1 > CREAZIONE DI UN NUOVO UTENTE </h1>

  <form action="nuovoutente" method="post">
  <table style="background-color:#8fbc8f">
    <tbody>
      <tr>
        <td> Nome: </td> <td> <input type="text" name="nome"> </td>
      </tr>
      <tr>
        <td> Cognome: </td> <td> <input type="text" name="cognome"></td>
      </tr>
      <tr>
        <td> Email: </td> <td> <input type="text" name="email"></td>
      </tr>
      <tr>
        <td> Username: </td> <td> <input type="text" name="username"></td>
      </tr>
      <tr>
        <td> Password: </td> <td> <input type="password" name="password"></td>
      </tr>
      <tr>
        <td colspan="2" align="center"> <input type="submit" value="Crea Nuovo Utente"/></td>
      </tr>
    </tbody>
  </table>
  </form>

  <form action="logout" method="post">
    <br> <input type="submit" value="Indietro"/>
  </form>

</body>
</html>