<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>MVC Web application</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

<form action="nuovoutente" method="post" align=center>
  <table border="1" align="center">
    <thead>
      <tr>
        <td> <b> Creazione di un nuovo utente </b></td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td> Nome: </td> <td> <input type="text" name="nome"> </td>
      </tr>
      <tr>
        <td> Cognome:<input type="text" name="cognome"></td>
      </tr>
      <tr>
        <td> Email:<input type="text" name="email"></td>
      </tr>
      <tr>
        <td> Username:<input type="text" name="username"></td>
      </tr>
      <tr>
        <td> Password:<input type="text" name="password"></td>
      </tr>
      <tr>
        <td><input type="submit" value="Crea Nuovo Utente"/><br></td>
      </tr>
    </tbody>
  </table>
</form>

</body>
</html>