<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>MVC Web application</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

  <h2 align="center"> <b> Creazione di un nuovo utente </b></h2>

  <form action="nuovoutente" method="post" align=center>
  <table border="0" align="center">
    <thead>
    </thead>
    <tbody>
      <tr>
        <td> Nome: </td> <td> <input type="text" name="nome"> </td>
      </tr>
      <tr>
        <td> Cognome: </td> <td> <input type="text" name="cognome"></td>
      </tr>
      <tr>
        <td> Email: </td> <td> <input type="text" name="email"></td>
      </tr>
      <tr>
        <td> Username: </td> <td> <input type="text" name="username"></td>
      </tr>
      <tr>
        <td> Password: </td> <td> <input type="text" name="password"></td>
      </tr>
      <tr>
        <td colspan="2" align="center"><input type="submit" value="Crea Nuovo Utente"/></td>
      </tr>
    </tbody>
  </table>
  <br>
  </form>

</body>
</html>