<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cronologia Misurazioni</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="myStyle.css">
</head>

<body>
<h1> CRONOLOGIA INIEZIONI </h1>

<h3 class="errore" th:text = "${errore}" > </h3>

<table class="tab">
    <thead>
    <tr>
        <th class="tab"> GLICEMIA </th>
        <th class="tab"> INSULINA </th>
        <th class="tab"> ORA </th>
        <th class="tab"> COMMENTO </th>
        <th class="tab"> DELETE </th>
    </tr>
    </thead>
    <tbody>
    <tr class="tab" th:each="misurazione: ${cronologia}">
        <td class="tab" th:text="${misurazione.glicemia}"> 120 </td>
        <td class="tab" th:text="${misurazione.insulina}"> 2 </td>
        <td class="tab" th:text="${misurazione.time}"> 20:06:17 </td>
        <td class="tab" th:text="${misurazione.commento}"> blank </td>
        <form action="cancellamisurazione" method="post">
            <input type="hidden" name="id" value="10" th:value="${person.id}"> <br>
            <input type="hidden" name="idMisurazione" value="10" th:value="${misurazione.id}"> <br>
            <td> <input class="btn" type="submit" value="cancella"> </td>
        </form>
    </tr>
    </tbody>
</table>

<form action="cancellacronologia" method="post">
    <input type="hidden" name="id" value="10" th:value="${person.id}"> <br>
    <input class="btn" type="submit" value="cancella tutto">
</form>

<form action="back" method="post">
    <input type="hidden" name="id" value="10" th:value="${person.id}"> <br>
    <input class="btnBack" type="submit" value="Indietro">
</form>

</body>
</html>