<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Modifica Profilo Utente</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="myStyle.css">
    <script>
        function myFunction() {
              var x = document.getElementById("myInput");
              if (x.type === "password") {
                 x.type = "text";
              } else {
                x.type = "password";
              }
        }
  </script>
</head>

<body>

<div class="box">
    <h1> MODIFICA CREDENZIALI UTENTE </h1>
    <h3 class="errore" th:text = "${errore}" > </h3>

    <form action="salvamodifica" method="post">
        <input type="hidden" name="id" value="10" th:value="${person.id}"> <br>
        <table style="background-color:#8fbc8f">
            <tbody>
            <tr>
                <td> Nome: </td> <td>  <input type="text" name="nome" value="John" th:value="${person.nome}" placeholder="inserisci nome"><br> </td>
                <td class="errore" th:text="${errnome}"> </td>
            </tr>
            <tr>
                <td> Cognome: </td> <td> <input type="text" name="cognome" value="Smith" th:value="${person.cognome}" placeholder="inserisci cognome"><br> </td>
                <td class="errore" th:text="${errcognome}"> </td>
            </tr>
            <tr>
                <td> Email: </td> <td> <input type="email" name="email" value="John.Smith@gmail.com" th:value="${person.email}" placeholder="inserisci email"><br> </td>
                <td class="errore" th:text="${erremail}"> </td>
            </tr>
            <tr>
                <td> Username: </td> <td> <input type="text" name="username" value="JohnEma" th:value="${person.username}" placeholder="inserisci username"><br> </td>
                <td class="errore" th:text="${errusername}"> </td>
            </tr>
            <tr>
                <td> Password: </td> <td> <input type="password" name="password" value="IngSoft" th:value="${person.password}" placeholder="inserisci password" id="myInput"><br> </td>
                <td class="errore" th:text="${errpassword}"> </td>
            </tr>
            <tr>
                <td> </td> <td> <input type="checkbox" onclick="myFunction()"> Show Password </td>
            </tr>
            <tr>
                <td colspan="2"> <input class="btn" type="submit" value="salva" /> </td>
            </tr>
            </tbody>
        </table>
    </form>

    <form action="backprofile" method="post">
        <input type="hidden" name="id" value="10" th:value="${person.id}">
        <br> <input class="btnBack" type="submit" value="Indietro">
    </form>

</div>

</body>
</html>