<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Inserimento Misurazione</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="myStyle.css">
</head>

<body>

<div class="box">
    <h1> POMPA INSULINICA </h1>
    <h3 class="errore" th:text = "${errore}" > </h3>

    <form action="salva" method="post">
        <input type="hidden" name="id" value="10" th:value="${person.id}">
        <table style="background-color:#8fbc8f">
            <tbody>
            <tr>
                <td> <input type="text" name="glicemia" th:value="${glicemia}" placeholder="inserisci glicemia"><br> </td>
                <td class="errore" th:text="${errglicemia}"> </td>
            </tr>
            <tr>
                <td> <input type="text" name="insulina" th:value="${insulina}" placeholder="inserisci insulina"><br> </td>
                <td class="errore" th:text="${errinsulina}"> </td>
            </tr>
            <tr>
                <td> <input type="text" name="commento" th:value="${commento}" placeholder="inserisci un commento"><br> </td>
                <td class="errore" th:text="${errcommento}"> </td>
            </tr>
            <tr>
                <td colspan="2"> <input class="btn" type = "submit" value="salva"/> <br> </td>
            </tr>
            </tbody>
        </table>
    </form>

    <p th:text = "${lastmisurazione}"> </p> <br>

    <form action="back" method="post">
        <input type="hidden" name="id" value="10" th:value="${person.id}">
        <br> <input class="btnBack" type="submit" value="Indietro">
    </form>

</div>

</body>
</html>