<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MVC Web application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<h1 align=center>Benvenuto nell'App che calcola l'insulina</h1>

<h3 align=center> Login </h3>

<form action="login" method="post" align=center>
    Username:<input type="text" name="username"><br><br>
    Password:<input type="password" name="password"><br><br>
    <input type="submit" value="Accedi"/>
</form>
<br>
<form action="create" method="post" align=center>
<input type="submit" value="Crea account"/>
</form>

</body>
</html>