<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MVC Web application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="mystyle.css">
    <script>
    function myFunction() {
          var x = document.getElementById("myInput");
          if (x.type === "password") {
             x.type = "text";
          } else {
            x.type = "password";
          }
    }
    </script>
</head>

<body>

<div class="box">
    <h1> PROFILO </h1>
    <h3 class="errore" th:text = "${errore}" > </h3>

    <table style="background-color:#8fbc8f">
        <tbody>
        <tr>
            <td> Nome: </td> <td> <input type="text" th:value="${person.nome}" readonly><br> </td>
        </tr>
        <tr>
            <td> Cognome: </td> <td> <input type="text" th:value="${person.cognome}" readonly><br> </td>
        </tr>
        <tr>
            <td> Email: </td> <td> <input type="email" th:value="${person.email}" readonly><br> </td>
        </tr>
        <tr>
            <td> Username: </td> <td> <input type="text" th:value="${person.username}" readonly><br> </td>
        </tr>
        <tr>
            <td> Password: </td> <td><input type="password" th:value="${person.password}" id="myInput" readonly><br> </td>
        </tr>
        <tr>
            <td> </td> <td> <input type="checkbox" onclick="myFunction()"> Mostra password </td>
        </tr>
        <tr>
            <form action="modifica" method="post">
                <input type="hidden" name="id" value="10" th:value="${person.id}">
                <td colspan="2"> <input class="btn" type="submit" value="modifica" /> </td>
            </form>
        </tr>
        </tbody>
    </table>

    <form action="deleteaccount" method="post">
        <input type="hidden" name="id" value="10" th:value="${person.id}">
        <br> <input class="btnLogOut" type="submit" value="Elimina account">
    </form>

    <form action="back" method="post">
        <input type="hidden" name="id" value="10" th:value="${person.id}">
        <br> <input class="btnBack" type="submit" value="Indietro">
    </form>
</div>

</body>
</html>