<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>MVC Web application</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<h1 align=center> Questa è la tua pagina utente</h1>

<form action="profilo" method="post" align=center>
  <input type="hidden" name="id" value="10" th:value="${person.id}"> <br>
  <input type="submit" value="Profilo"/>
</form>
<br>
<form action="cronologia" method="post" align=center>
  <input type="submit" value="Cronologia"/>
</form>
<br>
<form action="pompainsulinica" method="post" align=center>
  <input type="hidden" name="id" value="10" th:value="${person.id}"> <br>
  <input type="submit" value="Pompa Insulinica"/>
</form>
<br>
<form action="logout" method="post" align=right>
  <input type="submit" value="Logout"/>
</form>
<br>


</body>
</html>